/*
 *                 __       __                       __      
 *                /\ \     /\ \                     /\ \__   
 *    __      __  \ \ \____\ \ \___      __     _ __\ \ ,_\  
 *  /'_ `\  /'__`\ \ \ '__`\\ \  _ `\  /'__`\  /\`'__\ \ \/  
 * /\ \L\ \/\ \L\.\_\ \ \L\ \\ \ \ \ \/\ \L\.\_\ \ \/ \ \ \_ 
 * \ \____ \ \__/.\_\\ \_,__/ \ \_\ \_\ \__/.\_\\ \_\  \ \__\
 *  \/___L\ \/__/\/_/ \/___/   \/_/\/_/\/__/\/_/ \/_/   \/__/
 *    /\____/                                                
 *    \_/__/                                                 
 *
 */

pre {
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
}